<h3>
  <p style="color:darkcyan"> Merci de S'inscrire! </p>
  </h3>
  <img class="img-doctor" src="assets/img/doc.jpg" width="200px" height="100px">
    <form action="/action_page.php"></form>
    
        <label for="login">Login:</label> <br>
        <input type="text" name="firstname" style="background-color:deepskyblue;"width="300px"><br>
        <label for="mps" >Mot de passe:</label> <br>
        <input type="text" name="lastname" style="background-color:deepskyblue;"width="300px"><br>
        <a routerLink="/doctor"><button >S'inscrire
          
        </button></a>  <router-outlet></router-outlet>
       