<ul class="nav navbar-nav">
   <li routerLinkActive="active"><a routerLink="rdv">Gérer Rendez_vous</a></li>
   <li routerLinkActive="active"><a routerLink="listepat">Liste des ptients</a></li>
 </ul>



<br> <br> 
<h4>Id patient:</h4>
<input type="text" name="firstname" height="300px" width="300px"><br>

   <a routerLink="./listepat/listepat.component"><button> OK</button></a> 
                
               <br> 
 <img class="img-docto" src="assets/img/mob.png" width="30px" height="30px"> Tel:73201578                
<img class="img-doct" src="assets/img/m.png" width="30px" height="30px"> khawlafguira@gmail.com